body {
background: #0b0b0b;|
}
p {
font: 10px Verdana, Arial, Sans-serif;
color: #FFFFFF;
text-align: left;
line-height: 11px;
padding-left: 10px;
width: 300px;
}
h1 {
font: 16px Century Gothic, Arial, Sans-serif;
color: #fff;
padding-left: 19px;
text-align: left;
margin-left: 10px;
letter-spacing: -1px;
text-transform: uppercase;
background: url(../img/diary_h1.gif) no-repeat;
}
h1:first-letter {
color: #f9c658;
}
b {
font: 11px Arial, Sans-serif;
font-style: bold;
color: #d7c6a1;
text-align: justify;
line-height: 11px;
}
i {
font: 11px Arial, Sans-serif;
font-style: italic;
color: #d7c6a1;
text-align: justify;
line-height: 11px;
}
a {
font: 10px Verdana, Arial, Sans-serif;
color: #f9c658;
text-decoration: none;
}
a: visited {
color: #f9c658;
text-decoration: none;
}
a:hover {
font: 10px Verdana, Arial, Sans-serif;
color: yellow;
text-decoration: none;
}
