<!DOCTYPE html>
<html lang="en">
<head>
        <title>[frame content]</title>
	<link href="./css/fonts.css" rel="stylesheet">
	<link href="./css/frame.css" rel="stylesheet">
</head>
<body>	

<h2>welcome to klonocorp!</h2>
<h3>welcome to klonocorp!</h3>

<h2>title example</h2>
<h3>title example</h3>
<p>{paragraph example} for the titles h2 and h3 are used, I repeat the same text in both tags but h2 uses a cool font (you can find it <a href="http://04.jp.org" target="_blank">here</a>), while h3 shows the actual text.</p>

<h2>notice</h2>
<h3>notice</h3>
<ul><li>this is a list</li>
<li>you can list anything</li>
<li>pollo, pollo, pollo, pollo, pollo</li>
<li>cocodrilo, cocodrilo, cocodrilo, cocodrilo, cocodrilo</li></ul>
<p>Any questions? go to <a href="http://twitter.com/klonocorp" target="_blank">@klonocorp</a></p>
</body>
</html>
