body {
background: #0b0b0b url(img/menu_bg2.gif);
background-attachment: fixed;
margin: 0px;
}
p {
font: 10px Verdana, Arial, Sans-serif;
color: #FFFFFF;
text-align: center;
line-height: 11px;
}
p.boxy {
padding: 10px;
margin:10px;
border: 1px solid #656565;
}
h1 {
font: 16px Century Gothic, Arial, Sans-serif;
color: #fff;
padding-left: 19px;
text-align: left;
margin-left: 10px;
letter-spacing: -1px;
text-transform: uppercase;
background: url(img/diary_h1.gif) no-repeat;
}
h1:first-letter {
color: #f9c658;
}
a {
font: 10px Verdana, Arial, Sans-serif;
color: #f9c658;
text-decoration: none;
}
a: visited {
color: #f9c658;
text-decoration: none;
}
a:hover {
font: 10px Verdana, Arial, Sans-serif;
color: yellow;
text-decoration: none;
}
