<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>nae's random answers</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="stylesheet.css" type="text/css"/>
<link rel="Shortcut Icon" href="http://nae.hanasei.org/fave1.ico" type="image/x-icon" />
</head>
<body>
<div id="container">
<div id="header"></div>
<div id="text"><h2>random answers</h2>
	<center><p>Personal website layout from October 2008.<br/>
Best resolution: 800x600 +</p></center>
	<p>Why my blog was called random answers? I forgot.
	-<br/>
	-<br/>
	-</p>

<h3>What's New</h3>
<center><textarea cols="60" rows="8">
2008.09.23
	-Used this to post updates.
2008.09.17
 	-Real updates removed
2008.09.14
	-This is just a textarea 
2008.09.12

2008.09.10

2008.09.04

2008.08.31
</textarea></center>
<br/>
</div>
<div id="sidebar"><h1>Menu</h1>
	<p>Sidebar text example!, use this place to talk about anything you want</p><br/>
<a href="" class="menu">menu example</a>
<a href="" class="menu">menu example</a>
<a href="" class="menu">hover !</a>
<a href="" class="menu">for cool effect</a>
<p>dummy text dummy text dummy text dummy text, did you know earthworms have 8 hearts? It's really amazing, they keep living even if cut in pieces, woah!. What a cool sidebar,  you could also add any images and it would look great.<br/>
here is a <a>link</a> example, here's <a>another</a></p><br/>
</div>

<div id="footer">
<p class="copy">random answers 2007-2008</p></div>
</div>
</body>
</html>
