body {
margin: 0px;
padding: 0px;
background: #76a6b0 url(BG_B.jpg);
background-repeat: repeat-x;
text-align: center;
font-family:ubuntu,verdana,sans-serif;
}
img {
border: 0px;
}
#container {
margin: 0px auto;
width: 800px;
background: url(BG_A.jpg);
background-repeat: repeat-y;
cursor: nw-resize;
} 
#header {
width: 100%;
height: 260px;
background: url(RANDOM.png) no-repeat;
}
#text {
width: 440px;
float: left;
text-align: justify;
padding-left: 60px;
}
#sidebar {
width: 250px;
float: right;
padding-right: 50px;
text-align: justify;
}
#footer {
width: 100%;
clear: both;
height: 70px;
padding-top: 5px;
background: url(BG_C.jpg);
background-repeat: no-repeat;
}
p {
margin: auto 10px;
font-size: 10px;
line-height: 11px;
color: #a8c5ca;
}
h1:first-letter {
	color: #fff;
}
h2:first-letter {
	color: #f3d066;
}
p.copy {
	text-align: center;
	color: #111;
}
p.sidebar {
	font-size: 8px;
	color: #ddd;
       /* line-height:10px;*/
        padding-left:10px;
        padding-right:10px;
        text-align: justify;
        letter-spacing: -1px;
}
b {
    font: bold 10px;
    color: #ddd;
}
i {
    font: italic 10px;
    color: #ddd;
}
h1 {
	font: 11px;
        color: #c5f6fa;
	padding-right: 10px;
	text-align: right;
	letter-spacing: 20px;
	text-transform: uppercase;
}
h2 {
	font: 11px;
        color: #c5f6fa;
	padding-right: 5px;
	padding-left: 22px;
	text-align: left;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-bottom: 1px solid #819da3;
	border-top: 1px solid #819da3;
	background: #618087;
}
h3 {
	font: 11px;
        color: #c5f6fa;
	padding-right: 10px;
	padding-left: 30px;
	text-align: right;
	letter-spacing: 5px;
}
a, a:link, a:active, a:visited {

	color: #f3d066;
	text-decoration:none;
	border-bottom: 1px dotted white;
}
a:hover {
	color: #fff;
	text-decoration: none;
             cursor: help;
}
a.menu {
	text-decoration: none;
	background: #618087;
	display:block;
	height:22px;
	color: #a8c5ca; 
	padding-left:30px;
	padding-top:4px;
	text-align: left;
        line-height: 17px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #617c83;
	border-right: 3px solid #819da3;
}
a.menu:hover {
	text-decoration: none;
	background: #6198a3;
	text-transform: uppercase;
	color: #fff; 
	padding-left:30px;
	text-align: left;
	display:block;
        line-height: 17px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #617c83;
	border-right: 3px solid #f3d066;
}
textarea {
	font-family: monospace, consolas;
	font-size: 10px;
	color: #777;
             line-height:10px;
             padding-left:10px;
             padding-right:10px;
             text-align: justify;
             letter-spacing: -1px;
	border: 1px dotted #555;
}
img.fls { 
border: 4px solid #819da3;
margin: 5px;
float: center;
}
