:root 	{ 
   		  
      --g0:  #E1F8D8;    
      --g1:  #40d020;
      --t1:  #10D098;
      --t2:  #086050;
      --alert:#ff6666;
      --bg1: #201838;
      --bg2: #1a1a1a;
    }


body 				{ background: var(--bg2);padding:2px;}

.category {
  border: 1px red dotted;
  padding:50px;
}

::-webkit-scrollbar 	 	{ width: 5px;}
::-webkit-scrollbar-track	{ background: #222;}
::-webkit-scrollbar-thumb 	{ background: transparent;  border:1px solid var(--g1);}
::-webkit-scrollbar-thumb:hover { background: var(--g1);}

p,.submenu a{ color: var(--g0);text-align:justify; font-family: '04b_24';font-size:8px;line-height: 10px;}
    /*top right bottom left*/
    .submenu,.submenu a, .news, .news img, .alert, .item 	{ border:1px solid; padding: 5px } /* 1px border for all boxes */
    .news			{ border-color: var(--g1);margin:0px 0px 8px 0px;min-height:54px;}	
    .news p, .alert p 		{ color: var(--g0);font-family:'04b_03';font-size:8px;margin:0px;line-height:7px;letter-spacing:0px;}
    .alert p {text-transform:uppercase;}
    .news img 	{ float:left;padding: 2px;border-color: var(--g0);margin: 0px 5px 5px 0px;}
    .alert,.alert-menu	{ border-color: red; background:rgba(255,9,9,0.15)}    
    .alert p {color:var(--alert);}
    .submenu,.submenu a:hover{border-color: purple; margin-bottom:5px;}
    .submenu a {padding:4px;}	
    .submenu a:hover {background:rgba(180,0,200,0.15)}
    .item{
	color: var(--p1);
        border:1px solid var(--y0);
        display: inline-block;
        margin:1px;
	padding:4px;
        text-decoration:none;}
     .item:hover{
         background: rgba(255,80,80,0.7)}
    ul {
      font-family:'04b_24';
      text-align: left;
      }
    li {  
      font-family: inherit;
      color:var(--g0);}
    h1{
      font-family:'04b_25';
      font-size: 24px;
      font-weight: normal;
      color:var(--t1);
      text-shadow: 2px 2px 0px var(--t2); 
      text-align:center;
      line-height: 18px;
    }
    h2{color:var(--t1);
      font-size:16px;
      font-weight:normal;
      font-family:'04b_21';
      text-transform: lowercase;
      text-decoration: none;
      text-shadow:2px 2px 0px rgba(0,0,0,0.5);
	border-bottom:1px dotted white;	      
}
    
    h3{font-size:16px;
       color: var(--g0);
       font-family:'04b_24';
       text-transform: uppercase;
      margin-top: -5px;
      text-align:right;
	font-weight:normal;} 
     a{
       text-decoration: none;
       color:cyan;
     }
     a:hover{color:var(--p1);}
     img a{border-bottom:none;} 
      
    .s {
      text-decoration: line-through;} 
.folder {
  border: 1px solid cyan;
  padding: 10px;
}